

h1 {font-size:225%;
	font-style:italic
	color:lightcoral}



body {background:azure;
		color:darkcyan;
		font-size:14pt;
		font-family: 'Rufina', serif
		}



	
a {color:darkblue;
	text-decoration:none;}
a:hover {color:lightblue}
	
	


h1{
	text-align:center;
	font-size: 375%;
	color: lightcoral;
	margin-top: 75px;
}


p{
	text-align: center;
    margin-right: 125px;
    margin-left: 125px;
}


form{text-align:center;}






div a {
    display: inline;
	float: fixed;
    color: darkcyan;
    text-align: left;
	padding: 14px 16px;
    text-decoration: none;


}

div{
 display:inline;
 text-align:left;
 }
 
 
div {
	overflow: hidden;
    background-color: none;
    position: fixed; 
    top: 0; 
    width: 100%;
	text-align; center;

}
